.heading{
    background-image:linear-gradient(60deg,#ff3a7c,#741eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    font-weight: 700;
}
.subheading{
    font-size: 3rem;
    line-height:1.1em;
    font-weight: 650;
    color: #000000;
    font-family:system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}
.description{
    color:#4d4d4d;
    font-size: 1.125rem;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    line-height: 1.5;
}